body {
    background-color: #1f1f1f;
    font-family: 'Raleway', sans-serif;
}


.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

footer {
    color: #1b6d85;
    padding-top: 5px;
}

footer a {
    text-decoration: none;
    color: #1b6d85;
}

footer a:hover {
    text-decoration: none;
    color: #3d8fa7;
}

address {
    margin-bottom: 0;
    text-align: left;
    display: inline;
    font-size: 17px;
}

address a {
    padding-top: 3px;
    font-size: 17px;
}

.social_symbols {
    font-size: 25px;
    padding-top: 0;
    text-align: right;
    display: inline;
    float: right;
}

.social_symbols a {
    color: #1b6d85;
}

#myNavbar.collapse.navbar-collapse {
    background-color: #1f1f1f;
}

.logo {
    margin-top: 50px;
    background: url("img/17.jpg") center;
    background-size: cover;
    min-height: 550px;
    color: white;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding-top: 15px;
    font-size: 48px;
}

.navbar {
    margin-bottom: 0;
    border: none;
    background-color: #ffffff;
}

.navbar-inverse {
    background-color: inherit;
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #1f1f1f;
}

.navbar-brand {
    background-color: #1f1f1f;
    width: 200px;
    height: 50px;
    z-index: 1;
    padding-top: 5px;
}

.navbar-header {
    background-color: #1f1f1f;
}

nav {
    color: #aa876a;
    font-size: 1.4em;
    text-align: left;
}

.nav > li > a {
    min-width: 150px;
    padding-top: 5px;
}

#home {
    color: #fff;
}

.about {
    background-color: #aa876a;
    color: black;
    padding-top: 5px;
}

.tech {
    padding-top: 5px;
    background-color: #1b6d85;
}

.portfolio {
    background-color: #aa876a;
    color: black;
    padding-top: 5px;
}

.contact {
    background-color:  #1b6d85;
    color: #1a5c74;
    padding-top: 5px;
}

.fa-home {
    padding-top: 15px;
}

.fa-user, .fa-home, .fa-laptop, .fa-briefcase, .fa-envelope {
    font-size: 1.5em;
}

.content {
    background-color: #1f1f1f;
    color: beige;
    padding-top: 20px;
}

ul.nav {
    border-bottom: solid #1f1f1f 1px;
    background-color: #1f1f1f;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    background-color: #1f1f1f;
}

@media only screen and (max-width: 1000px) {
    .navbar-brand {
        height: 45px;
    }
    .nav > li > a {
        min-width: 100px;
}

@media only screen and (max-width: 480px) {
    .logo {
        font-size: 40px;
    }

    .symbol {
        font-size: 15px;
    }

    address {
        font-size: 13px;
    }

    address a {
        font-size: 13px;
    }

    .social_symbols {
        font-size: 19px;
    }
}
@media (min-width: 768px) {
    a .navbarbrand:hover {
        margin-left: 0;
    }
    .about, .tech, .portfolio, .contact {
        font-size: 0.8em;
    }
}
}




